<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>
      用户
      <!--<span ng-if="userType === 'user'">用户-->
        <!--<a href="" ng-click="openAddModal('user')" ng-controller="ModalController">-->
        <!--<span style="color: #18a689;">-->
        <!--<i class="fa fa-plus"></i>-->
        <!--</span>-->
      <!--</a>-->
      <!--</span>-->
      <!--<span ng-if="userType === 'editor'">编辑-->
        <!--<a href="" ng-click="openAddModal('editor')" ng-controller="ModalController">-->
        <!--<span style="color: #18a689;">-->
        <!--<i class="fa fa-plus"></i>-->
        <!--</span>-->
      <!--</a>-->
      <!--</span>-->
    </h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">主页</a>
      </li>
      <li class="active">
        <strong>列表</strong>
      </li>
    </ol>
  </div>
    <div class="col-sm-4">
      <div class="title-action">
        <a ng-click="openAddModal(userList)" ng-controller="ModalController" class="btn btn-primary btn-sm">新增user</a>
      </div>

    </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <!--<div class="ibox-title">-->
          <!--<h5>Custom responsive table </h5>-->

          <!--<div ibox-tools></div>-->
        <!--</div>-->
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-5 m-b-xs">
              <button type="button" class="btn btn-default" ng-model="userType" data-html="1" data-toggle="true" placeholder="请选择用户类型" bs-options="type.value as type.label for type in types" bs-select>
                Action <span class="caret"></span>
              </button>
            </div>
            <div class="col-sm-4 m-b-xs">
              <!--<div data-toggle="buttons" class="btn-group">-->
                <!--<label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>-->
                <!--<label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>-->
                <!--<label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>-->
              <!--</div>-->
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" placeholder="请输入关键字搜索" class="input-sm form-control" ng-model="q">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="keywordSearch()"> 搜索</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead ng-if="userList.length > 0">
              <tr>
                <th>账号</th>
                <th>呢称</th>
                <th>性别</th>
                <th>邮箱</th>
                <th>生日</th>
                <!--<th>描述</th>-->
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="user in userList">
                <td>
                  {{user.username}}
                </td>
                <td>
                  {{user.realName}}
                </td>
                <td>{{{'0':'先生','1':'女士'}[user.gender]}}</td>
                <td>{{user.email}}</td>
                <td>
                  {{user.birthday | date:'yyyy年MM月dd日'}}
                </td>
                <!--<td>{{user.meta.description | limitTo:20}}</td>-->
                <td>
                  <a ui-sref="users.detail({userId: user._id})">
                    <i class="fa fa-bars"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-right">
            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="0" previous-text="上一页" next-text="下一页"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
