<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>个人简介</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">主页</a>
      </li>
      <li>
        <a href="" ui-sref="users.lists">列表</a>
      </li>
      <li class="active">
        <strong>详情</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <a href="" ng-click="openEditModal(user)" ng-controller="ModalController" class="btn btn-primary btn-sm">编辑</a>
    <a href="" ng-click="openPasswordModal(user._id)" ng-controller="ModalController" class="btn btn-primary btn-sm">修改密码</a>
    <a href="" ng-click="editStatus(-1)" class="btn btn-primary btn-sm">标记删除</a>
    <a href="" ng-click="editStatus(0)" class="btn btn-primary btn-sm">停用</a>
  </div>
</div>
<div class="row user-detail">
  <div class="col-xs-4">
    <div class="widget-head-color-box navy-bg p-m text-center">
      <div class="m-b-md">
        <h2 class="font-bold no-margins">
          {{user.realName}}
          <a class="can-click" ng-click="openEditModal(user)" ng-controller="ModalController">
            <small>  编辑</small>
            <i class="fa fa-edit"></i>
          </a>
        </h2>
        <small ng-if="user.meta.title">{{user.meta.title}}</small>
        <small ng-if="user.userType === 'editor'">编辑</small>
        <small ng-if="user.userType === 'user'">用户</small>
      </div>
      <img src="assets/images/patterns/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">

      <!--<div>-->
        <!--<span>100 Tweets</span> |-->
        <!--<span>350 Following</span> |-->
        <!--<span>610 Followers</span>-->
      <!--</div>-->
    </div>
    <div class="widget-text-box" ng-if="user.userType === 'doctor'">
      <!--<h4 class="media-heading">{{user.realName}}</h4>-->
      <p>{{user.meta.description || '-'}}</p>
      <dl>
        <dt>ID：</dt>
        <dd>{{user._id || '-'}}</dd>
      </dl>
      <dl>
        <dt>姓名：</dt>
        <dd>{{user.realName || '-'}}</dd>
      </dl>
      <dl>
        <dt>性别：</dt>
        <dd>{{{'0':'先生','1':'女士'}[user.gender] || '-'}}</dd>
      </dl>
      <dl>
        <dt>生日：</dt>
        <dd>{{user.birthday || '-' | date: 'yyyy-MM-dd'}}</dd>
      </dl>
      <dl>
        <dt>邮件：</dt>
        <dd>{{user.email || '-'}}</dd>
      </dl>
      <dl ng-if="user.userType === 'doctor'">
        <dt>职位：</dt>
        <dd>{{user.meta.title || '-'}}</dd>
      </dl>
      <dl ng-if="user.userType === 'doctor'">
        <dt>技能：</dt>
        <dd>{{user.meta.skills || '-' | splitArr}}</dd>
      </dl>
      <dl ng-if="user.userType === 'doctor'">
        <dt>科室医院：</dt>
        <dd>{{user.meta.description || '-' }}</dd>
      </dl>
      <dl ng-if="user.userType === 'doctor'">
        <dt>医生介绍：</dt>
        <dd>{{user.meta.info || '-' }}</dd>
      </dl>


      <!--<div class="text-right">-->
        <!--<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>-->
        <!--<a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>-->
      <!--</div>-->
    </div>
  </div>
  <div class="col-xs-8">
    <div class="ibox float-e-margins">
      <div class="ibox-content" ng-if="user.userType === 'doctor'">
        <!--<h2>个人简介</h2>-->
        <!--<dl>-->
          <!--<dt>ID：</dt>-->
          <!--<dd>{{user._id || '-'}}</dd>-->
        <!--</dl>-->
        <!--<dl>-->
          <!--<dt>姓名：</dt>-->
          <!--<dd>{{user.realName || '-'}}</dd>-->
        <!--</dl>-->
        <!--<dl>-->
          <!--<dt>性别：</dt>-->
          <!--<dd>{{{'0':'先生','1':'女士'}[user.gender] || '-'}}</dd>-->
        <!--</dl>-->
        <!--<dl>-->
          <!--<dt>生日：</dt>-->
          <!--<dd>{{user.birthday || '-' | date: 'yyyy-MM-dd'}}</dd>-->
        <!--</dl>-->
        <!--<dl>-->
          <!--<dt>邮件：</dt>-->
          <!--<dd>{{user.email || '-'}}</dd>-->
        <!--</dl>-->
        <!--<dl ng-if="user.userType === 'doctor'">-->
          <!--<dt>职务：</dt>-->
          <!--<dd>{{user.meta.title || '-'}}</dd>-->
        <!--</dl>-->
        <!--<dl ng-if="user.userType === 'doctor'">-->
          <!--<dt>主攻：</dt>-->
          <!--<dd>{{user.meta.skills || '-' | splitArr}}</dd>-->

        <!--</dl>-->
        <div class="forum-item" ng-class="{'active': channel.status === 1}" ng-repeat="channel in channelsList">
          <div class="row">
            <div class="col-md-10">
              <div class="forum-icon">
                <i class="fa fa-shield"></i>
              </div>
              <a ui-sref="channel.question.detail({channelId:channel._id})" class="forum-item-title">{{channel.title}}</a>
              <div class="forum-sub-title">{{channel.content}}</div>
            </div>
            <div class="col-md-2 text-right">
                <span class="views-number line-h-normal">
                  {{channel.user.realName}}
                </span>
              <!--<div>-->
              <!--<small>主持人</small>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!--<li class="divider"></li>-->

        <!--<div class="forum-item" ng-class="{'active': answer.status === 1}" ng-repeat="answer in answersList">-->
          <!--<div class="row">-->
            <!--<div class="col-md-10">-->
              <!--<div class="forum-icon">-->
                <!--<i class="fa fa-shield"></i>-->
              <!--</div>-->
              <!--<a ui-sref="asking.question.detail({questionId:answer.question._id})" class="forum-item-title2">{{answer.question.title}}</a>-->
              <!--<div class="forum-sub-title">{{answer.content}}</div>-->
            <!--</div>-->
            <!--<div class="col-md-2 text-right">-->
                <!--<span class="views-number line-h-normal">-->
                  <!--{{answer.user.realName}}-->
                <!--</span>-->
              <!--&lt;!&ndash;<div>&ndash;&gt;-->
              <!--&lt;!&ndash;<small>主持人</small>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="faq-item" ng-repeat="answer in answersList">
          <div class="row">
            <div class="col-md-7">
              <a ng-click="faq1 = !faq1" class="faq-question">{{answer.question.title}}</a>
              <!--<small>Added by <strong>Alex Smith</strong> -->
              <i class="fa fa-clock-o"></i> {{answer.question.dateCreated | date:'yyyy-MM-dd HH:mm:ss'}}</small>
            </div>
            <div class="col-md-2 text-center line-h-normal">
              <!--<span class="small font-bold">提出者</span><br/>-->
              {{answer.question.user.realName}}
              <!--<div class="tag-list">-->
              <!--<span class="tag-item">General</span>-->
              <!--<span class="tag-item">License</span>-->
              <!--</div>-->
            </div>
            <div class="col-md-2 text-center line-h-normal">
              <!--<span class="small font-bold">回答 </span><br/>-->
              {{answer.question.answers.length || '0'}}
            </div>
            <div class="col-md-1 text-right">
              <a class="line-h-normal" ui-sref="asking.question.detail({questionId:answer.question._id})" href="">详情</a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div uib-collapse="!faq1">
                <div class="faq-answer">
                  <p>
                    {{answer.question.content}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="ibox-content" ng-if="user.userType === 'user'">


        <!--<li class="divider"></li>-->

        <div class="faq-item" ng-repeat="answer in answersList">
          <div class="row">
            <div class="col-md-7">
              <a ng-click="faq1 = !faq1" class="faq-question">{{answer.question.title}}</a>
              <!--<small>Added by <strong>Alex Smith</strong> -->
              <i class="fa fa-clock-o"></i> {{answer.question.dateCreated | date:'yyyy-MM-dd HH:mm:ss'}}</small>
            </div>
            <div class="col-md-2 text-center line-h-normal">
              <!--<span class="small font-bold">提出者</span><br/>-->
              {{answer.question.user.realName}}
              <!--<div class="tag-list">-->
              <!--<span class="tag-item">General</span>-->
              <!--<span class="tag-item">License</span>-->
              <!--</div>-->
            </div>
            <div class="col-md-2 text-center line-h-normal">
              <!--<span class="small font-bold">回答 </span><br/>-->
              {{answer.question.answers.length || '0'}}
            </div>
            <div class="col-md-1 text-right">
              <a class="line-h-normal" ui-sref="asking.question.detail({questionId:answer.question._id})" href="">详情</a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div uib-collapse="!faq1">
                <div class="faq-answer">
                  <p>
                    {{answer.question.content}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="ibox-content" ng-if="user.userType === 'edit'">

        <div class="forum-item" ng-class="{'active': channel.status === 1}" ng-repeat="channel in channelsList">
          <div class="row">
            <div class="col-md-10">
              <div class="forum-icon">
                <i class="fa fa-shield"></i>
              </div>
              <a ui-sref="channel.question.detail({channelId:channel._id})" class="forum-item-title">{{channel.title}}</a>
              <div class="forum-sub-title">{{channel.content}}</div>
            </div>
            <div class="col-md-2 text-right">
                <span class="views-number line-h-normal">
                  {{channel.user.realName}}
                </span>
              <!--<div>-->
              <!--<small>主持人</small>-->
              <!--</div>-->
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>
