<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>
      申请的NPC列表
    </h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">主页</a>
      </li>
      <li class="active">
        <strong>列表</strong>
      </li>
    </ol>
  </div>
    <div class="col-sm-4">
      <div class="title-action">
        <a ui-sref="applications.add" class="btn btn-primary btn-sm">新增NPC</a>
      </div>

    </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <!--<div class="ibox-title">-->
          <!--<h5>Custom responsive table </h5>-->

          <!--<div ibox-tools></div>-->
        <!--</div>-->
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-5 m-b-xs">
              <button type="button" class="btn btn-default" ng-model="exhibition" data-html="1" data-toggle="true" placeholder="请选择展会" bs-options="exhibition._id as exhibition.title for exhibition in exhibitions" bs-select>
                Action <span class="caret"></span>
              </button>
            </div>
            <div class="col-sm-4 m-b-xs">
              <!--<div data-toggle="buttons" class="btn-group">-->
                <!--<label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>-->
                <!--<label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>-->
                <!--<label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>-->
              <!--</div>-->
            </div>
            <div class="col-sm-3">
              <!--<div class="input-group">-->
                <!--<input type="text" placeholder="请输入关键字搜索" class="input-sm form-control" ng-model="q">-->
                <!--<span class="input-group-btn">-->
                  <!--<button type="button" class="btn btn-sm btn-primary" ng-click="keywordSearch()"> 搜索</button>-->
                <!--</span>-->
              <!--</div>-->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" >
              <thead>
              <tr>
                <th>CN</th>
                <th>姓名</th>
                <th>性别</th>
                <th>QQ</th>
                <th>邮箱</th>
                <th>手机</th>
                <th>生日</th>
                <th>地址</th>
                <th>分组</th>
                <th>审核状态</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="application in applicationList">
                <td>
                {{application.applicant.CN}}
                </td>
                <td>
                  {{application.applicant.realName}}
                </td>
                <td>
                  {{{'0':'男','1':'女'}[application.applicant.male]}}
                </td>
                <td>{{application.applicant.QQ}}</td>
                <td>{{application.applicant.email}}</td>
                <td>{{application.applicant.phone}}</td>
                <td>
                  {{application.applicant.birth | date:'yyyy年MM月dd日'}}
                </td>
                <td>{{application.applicant.address}}</td>
                <td>{{application.decidePart.name || "未定"}}</td>
                <td>{{{'0':'待审核','1':'通过',"-1":"未通过"}[application.isPass]}}</td>
                <td>
                  <a ui-sref="audits.detail({applicationId: application._id})">
                    <i class="fa fa-bars"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-right">
            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="2" previous-text="上一页" next-text="下一页"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
